<div class="bg-wood-light md:py-4 py-3 overflow-x-auto scrollbar-thin">
  <div class="mx-auto w-fit px-4 sm:px-6 lg:px-8">
    <div class="flex flex-nowrap whitespace-nowrap gap-4 categories-list">
      <!-- <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Todas
      </button> -->
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Polos & Tops
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Blusas & Camisas
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Abrigos & Casacas
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Vestidos & Enterizos
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Chompas & Poleras
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Pantalones & Jeans
      </button>
      <button
        class="md:px-6 px-4 md:py-2 py-1.5 max-md:text-sm bg-white text-gray-800 rounded-full hover:bg-wood hover:text-white transition-colors font-semibold"
      >
        Faldas & Shorts
      </button>
    </div>
  </div>
</div>
