<header
  class="bg-white/70 backdrop-blur-md sticky top-0 shadow-md z-50 py-2 px-4"
>
  <div class="flex justify-between max-w-5xl gap-4 mx-auto items-center">
    <a
      href="/"
      class="md:w-18 w-16 bg-white border p-1.5 overflow-hidden rounded-full"
    >
      <img src="./img/favicon.png" alt="El Kloset de Sole" />
    </a>
    <div class="flex-1 max-w-lg relative">
      <input
        type="text"
        placeholder="Buscar productos..."
        class="search-input w-full pl-10 pr-4 md:py-2 py-1.5 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-wood max-md:placeholder:text-sm focus:border-transparent"
      />
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      >
        <i class="fas fa-search text-gray-400 max-md:text-sm"></i>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <div id="userMenu" class="relative group hidden">
        <button
          class="text-gray-600 hover:text-wood transition-colors focus:outline-none flex items-center gap-2"
        >
          <i class="fas fa-user md:text-xl"></i>
          <span id="usernameDisplay" class="text-sm hidden md:inline"></span>
        </button>
        <div
          class="absolute right-0 mt-2 w-40 bg-white rounded-md shadow-lg border border-gray-200 hidden group-focus-within:block z-50"
        >
          <a
            id="adminLink"
            href="./admin.html"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-wood hover:text-white transition-colors"
          >
            Panel
          </a>
          <a
            href="/api/auth/logout"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-red-500 hover:text-white transition-colors"
          >
            Cerrar sesión
          </a>
        </div>
      </div>
      <a
        id="loginBtn"
        href="../login.html"
        class="bg-wood max-md:text-sm hover:bg-wood-dark transition-colors text-white md:py-2 py-1.5 md:px-3 px-2 rounded-full hidden"
      >
        Iniciar sesión
      </a>
      <button class="text-gray-600 hover:text-wood transition-colors relative">
        <i class="fas fa-shopping-cart md:text-xl"></i>
        <span
          class="absolute -top-2.5 -right-2.5 bg-wood text-white md:text-xs rounded-full md:size-5 size-4 flex items-center justify-center text-[.7rem]"
          >3</span
        >
      </button>
    </div>
  </div>
</header>
