.product-card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px white;
    max-width: 1000px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin: 0 auto;  
}
.product-image {
    width: 350px;
    border-radius: 5px;
}
.product-info {
    flex: 1; 
    padding: 10px;
    text-align: left;
}
.product-title {
    text-align: center;
    color: black;
    background-color: white;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.brand {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.description {
    text-align: justify;
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
}
.price {
    font-size: 1.3em;
    font-weight: bold;
    color: #9a2020;
    margin-bottom: 20px;
}
.buy-button {
    background-color: #9a2020;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.buy-button:hover {
    background-color: #8b1a1a;
}